.box {
    margin-bottom: 5.75rem;
}

.content {
    width: var(--pc-main-width);
    display: flex;
    justify-content: space-between;
}

.button {
    min-width: 6rem;
}

.logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.25rem;
    transform: translateX(-6px);
}

.link-container {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: bold;
    margin-right: 1rem;
}